<table cellpadding="1" cellspacing="1" id="build_value">
	<tr>
		<th>
			Current construction time:
		</th>
		<td>
			<b>{$current->getParameter()}</b> %
		</td>
	</tr>
	<tr n:if="$next">
		<th>
			Construction time at level {$next->getLevel()}:
		</th>
		<td>
			<b>{$next->getParameter()}</b> %
		</td>
	</tr>
</table>