<div class="menu">
	{* c1 not yet, c2 active, c3 done*}
	<li class="c2 f9">
		Intro
	</li>
	<li class="c1 f9">
		Configuration
	</li>
	<li class="c1 f9">
		Database
	</li>
	<li class="c1 f9">
		Field
	</li>
	<li class="c1 f9">
		Multihunter
	</li>
	<li class="c1 f9">
		Oasis
	</li>
	<li class="c1 f9">
		End
	</li>
</div>