{block customJS}
	{include ../script.tpl}
{/block}

{block menu}
	{include ../menu.latte}
{/block}

{block content}
	<div class="progress_bar">
		<span>Step 2 from 7 </span>
	</div>

	{control configForm}
{/block}