{block customJS}
	{include ../script.tpl}
{/block}

{block menu}
	{include ../menu.latte}
{/block}

{block content}
	<div class="progress_bar">
		<span>Step 5 from 7 </span>
	</div>
	<br />
	<h1>Create Multihunter account</h1>
	<br />

	{control registerMultihunter}

{/block}