extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22
	kdybyclock: Kdyby\Clock\DI\ClockExtension
	console: Kdyby\Console\DI\ConsoleExtension

parameters:
    storageCapacity: 800

php:
	date.timezone: UTC


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter

	latte.latteFactory:
		setup:
			- addFilter(number, App\GameModule\Model\DisplayValues::number)

	- App\FrontModule\Model\User\UserModel
	- App\FrontModule\Model\ABData\ABDataModel
	- App\FrontModule\Model\FData\FDataModel
	- App\FrontModule\Model\TData\TDataModel
	- App\GameModule\Model\Units\UnitsModel
	- App\FrontModule\Model\User\RegisterService(%protection%)
	- App\FrontModule\Model\VData\VDataModel(%storageCapacity%, %storageMultiplier%)
	- App\FrontModule\Model\VData\VillageService
	- App\FrontModule\Model\WData\WDataModel(%worldSize%)
	- App\FrontModule\Model\OData\ODataModel
	- App\FrontModule\Model\OData\OasisService
	- App\FrontModule\Model\User\LoginService
	- App\GameModule\Model\Online\OnlineModel
	- App\GameModule\Controls\Header\IHeaderControl
	- App\GameModule\Model\MData\MDataModel
	- App\GameModule\Model\NData\NDataModel
	- App\FrontModule\Model\User\UserService
	- App\GameModule\Controls\Resource\IResourceControl
	- App\GameModule\Model\Production\ProductionService(%speed%)
	- App\GameModule\Model\Building\BuildingModel
	- App\GameModule\Controls\Building\IBuildingControl
	- App\GameModule\Model\BData\BDataModel
	- App\GameModule\Model\Building\BuildingService(%speed%, %storageMultiplier%)
	- App\GameModule\Model\Event\ProcessEvents
	- App\GameModule\Model\Building\BuildingAvailabilityService
	- App\GameModule\Model\Event\ProcessCulturePoints
	- App\GameModule\Model\Diplomacy\DiplomacyModel
	- App\GameModule\Controls\BuildingDetail\IBuildingDetailControl
	- App\GameModule\Controls\Train\ITrainControl
	- App\GameModule\Model\Units\UnitModel
	- App\GameModule\Model\Units\UnitService
	- App\GameModule\Model\Units\TrainingModel
	- App\GameModule\Model\Event\ProcessTraining
	- App\GameModule\Model\Units\UpkeepService
	- App\GameModule\Model\Units\UnitFactory(%speed%)
	- App\GameModule\Model\NData\ReportService
	- App\GameModule\Controls\SendUnits\ISendUnitsControl

#       commands
	-
	    class: App\GameModule\Command\Process
	    tags: [kdyby.console.command]
	-
	    class: App\GameModule\Command\ProcessCulturePoints
	    tags: [kdyby.console.command]
