extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

parameters:
    storageCapacity: 800

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter

	- App\FrontModule\Model\User\UserModel
	- App\FrontModule\Model\ABData\ABDataModel
	- App\FrontModule\Model\FData\FDataModel
	- App\FrontModule\Model\TData\TDataModel
	- App\FrontModule\Model\Units\UnitsModel
	- App\FrontModule\Model\User\RegisterService(%protection%)
	- App\FrontModule\Model\VData\VDataModel(%storageCapacity%, %storageMultiplier%)
	- App\FrontModule\Model\VData\VillageService
	- App\FrontModule\Model\WData\WDataModel(%worldSize%)
	- App\FrontModule\Model\OData\ODataModel
	- App\FrontModule\Model\OData\OasisService