{block customJS}
	{include ../script.tpl}
{/block}

{block menu}
	{include ../menu.latte}
{/block}

{block content}
	<div class="progress_bar">
		<span>Step 7 from 7 </span>
	</div>
	<br />
	<h1>Thanks for installing</h1>
	<br />

	All the files are placed. The database is created, so you can now start playing on your own.

	<center>
		<a n:href=":Front:Homepage:default">Homepage</a>
	</center>
{/block}