{block customJS}
	{include ../script.tpl}
{/block}

{block menu}
	{include ../menu.latte}
{/block}

{block content}
	<div class="progress_bar">
		<span>Step 4 from 7 </span>
	</div>
	<br />
	<h1>Create World Data</h1>
	<br />

	<strong>Warning</strong>: This can take some time. Wait till the next page has been loaded!
	<br />
	<br />
	<strong>Warning</strong>: This will delete any existing map data.

	<br />
	<br />
	<center>
		<a n:href=":Install:Field:generate">Create</a>
	</center>
{/block}