<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Spamian</title>
		<link rel="shortcut icon" href="{$baseUrl}/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="{$baseUrl}/gpack/travian/main.css" />
		<link rel="stylesheet" type="text/css" href="{$baseUrl}/gpack/travian/flaggs.css" />
		<link rel="stylesheet" type="text/css" href="{$baseUrl}/gpack/travian/main_en.css" />
		<meta http-equiv="imagetoolbar" content="no" />
		<script src="{$baseUrl}/mt-core.js" type="text/javascript"></script>
		<script src="{$baseUrl}/new.js" type="text/javascript"></script>
		<script src="{$baseUrl}/new2.js" type="text/javascript"></script>
		<style type="text/css">
			div.c2 {
				left:237px;
			}
			ul.c1 {
				position:absolute;
				left:0px;
				width: 686px;
			}
		</style>
	</head>
	<body n:class="isset($bodyClass) ? $bodyClass : ''">
		{include content}
	</body>
</html>