<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Spamian</title>
		<link rel="shortcut icon" href="{$baseUrl}/favicon.ico" />
		<meta name="content-language" content="en" />
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<script src="{$baseUrl}/mt-full.js" type="text/javascript"></script>
		<script src="{$baseUrl}/unx.js" type="text/javascript"></script>
		<script src="{$baseUrl}/new.js" type="text/javascript"></script>
		<link href="{$baseUrl}/gpack/travian_default/lang/en/compact.css" rel="stylesheet" type="text/css" />
		<link href="{$baseUrl}/gpack/travian_default/lang/en/lang.css" rel="stylesheet" type="text/css" />
		<link href='{$baseUrl}/gpack/travian_default/travian.css' rel='stylesheet' type='text/css' />
		<link href='{$baseUrl}/gpack/travian_default/lang/en/lang.css' rel='stylesheet' type='text/css' />
		<script type="text/javascript">
			window.addEvent('domready', start);
		</script>
	</head>
	<body n:class="isset($bodyClass) ? $bodyClass : ''">
		<div class="wrapper">
			<img style="filter:chroma();" src="{$baseUrl}/img/x.gif" id="msfilter" alt="" />
        	<div id="dynamic_header"></div>

			{control header}

			<div id="mid">

				{include content}

			</div>
			<div class="footer-stopper"></div>
			<div class="clear"></div>

			{include ../../Templates/footer.latte}

			{control resource}

			<div id="stime">
				<div id="ltime">
					<div id="ltimeWrap">
						Server time <span id="tp1" class="b">{? echo date('H:i:s'); }</span>
					</div>
				</div>
			</div>
        </div>
        <div id="ce"></div>
	</body>
</html>
