{block customJS}
	{include ../script.tpl}
{/block}

{block menu}
	{include ../menu.latte}
{/block}

{block content}
	<div class="progress_bar">
		<span>Step 3 from 7 </span>
	</div>

	<br />

	<span class="f10 c">Create SQL Structure</span> <br />

	<p>
		Warning: This can take some time. Wait till the next page has been loaded! Click Create to proceed..
	</p>

	<center>
		<a n:href=":Install:DataForm:createDatabase">Create</a>
	</center>
{/block}