{block footer}
	<div id="footer">
		<div id="mfoot">
			<div class="footer-menu">
				<center>
					<br />
					<div class="copyright">
						&copy; 2016
					</div>
					<div class="copyright">
						Server running <a href="https://github.com/VBoss/TravianZ">Spamian</a>.
					</div>
				</center>
			</div>
			<div id="cfoot"></div>
		</div>
	</div>
{/block}